body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,117,0.6166841736694677) 35%, rgba(0,212,255,1) 100%);
}
.cal{
    display: grid;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}
.cal > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: aqua;

}
.two{
    grid-column: span 2;
}
.output{
    grid-column: 1 /-1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 40px;
    background-color: rgb(160, 160, 160);
}
